.attendants {
	margin : 2rem 0;
	grid-column: md-col-start 1/ md-col-start 8;
	display: grid;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	color: #fff;
}
.all_sales {
	text-decoration: none;
	text-align: center;
}
.atten_search {
	justify-self: center;
	grid-column: 1 / -1;
}
.search_att {
	padding: 1rem;
	width: 30vw;
	border-radius: .5rem;
	font-size: 1.4rem;
	height: 4rem;
	border: none;
}
.user_d {
	background-color: #066e2e;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
	border-radius: 2rem;
	display: grid;
	grid-template-columns: 20rem 1fr;
	justify-content: center;
	grid-column-gap: 2rem;
	transition: all .2s;
}
.user_d img {
	width: 100%;
	border-radius: 50%;
}
.user_d:hover,
.user_d:focus {
	transform: translateY(-.5rem);
}
.user_details {
	margin: 1rem 1rem;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	grid-column-gap: 2rem;
	font-size: 1.4rem;
}
.user_details a {
	border-radius: .3rem;
	height: 6rem;
	text-decoration: none;
	text-align: center;
}
.user_details h5 {
	font-weight: 500;
	font-size: 1.7rem;
}
.user_roles {
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	justify-content: center;
	font-size: 1.4rem;
}
.user_roles h5 {
	font-size: 1.7rem;
	font-weight: 500;
}
.option {
	height: 3rem;
	border-radius: .3rem;
}
.btnRole {
	grid-column: 1 / -1;
	justify-self: center;
}