*,
*::before,
*::after {
	margin :  0;
	padding: 0;
	box-sizing: border-box;
}
html {
	box-sizing: border-box;
	font-size: 62.5%; /*10px / 16px = 62.5% 1rem = 10px*/
}
body {
	font-family: Quicksand, Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.5;
	font-size: 1.3rem;
	
	background-color: #011816;
	/* background-image: linear-gradient(rgba(0,0,0, .89) , rgba(0,0,0, .98)) , url(../img/store_4.jpg); */
}
.main_content {
	display: grid;
	grid-template-rows: 4rem max-content;
	grid-template-columns: [lft-start-col]1fr[lft-end-col] repeat(8, [md-col-start] minmax(min-content, 14rem) [md-col-end]) [ryt-start-col]1fr[ryt-end-col];
}
.head_items {
	grid-column: lft-start-col/ ryt-end-col;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: start;
	font-size: 1.5rem;
	list-style: none;
	background-color: rgb(17, 3, 34);
}
.link_item {
	text-decoration: none;
	color: #fff;
	text-align: center;
}
.btn {
	border: none;
 	justify-self: center;
 	outline: none;
 	align-self: center;
 	width: 20vw;
 	padding: 1.5rem;
 	border-radius: .2rem;
 	background-color: rgb(80, 104, 241);
 	cursor: pointer;
 	font-size: 1.7rem;
	transition: all .3s;
	color: #fff;
}
.btn:hover,
.btn:active {
 	background-color: #3532f0;
 	transform: translateY(-10%);
}
.nav_items {
	text-transform: uppercase;
	margin-right: .8rem;
}
.link_item:hover,
.link_item:focus {
	background-color: rgb(71, 71, 71);
}