body {
	background-image: linear-gradient(rgba(0,0,0, .7) , rgba(0,0,0, .7)) , url(../img/store_4.jpg);
	object-fit: cover;
}
.login {
	margin-top: 3rem;
	display: grid;
	grid-template-rows: 4rem max-content;
	justify-items: center;
	align-items: center;
}
.login_form {
	margin: 5rem;
	display: grid;
	padding: 8rem;
	grid-template-columns: max-content max-content;
	grid-gap: 2rem;
	align-items: center;
	justify-items: start;
	box-shadow: 0 1rem 2rem rgba(0,0,0, .1);

	background-color: rgb(226, 223, 223);
}
.login_form input {
	border: none;
	border-radius: .5rem;
	width: 30rem;
	height: 4rem;
	padding: 1rem;
}
.send_btn {
	width: 100%;
	grid-column: 1 / -1;
}

.login_header {
	color: #fff;
	margin-top: 3rem;
	font-size: 3rem;
	font-weight: 500;
}
.labels {
	font-size: 1.3rem;
	font-weight: 300;
}
.login_form a {
	text-align: center;
	text-decoration: none;
}
.danger_txt {
	grid-column: 1/-1;
	color: red;
	justify-self: center;
	font-size: 1.5rem;
	font-weight: 300;
}